.Container{
    display: inline-block;
    margin:auto;
    background-color: rgb(13, 81, 197);
    width: 450px;
    height:650px;
    border-radius:30px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  